
.content {
    z-index: 1;
    margin: $header-height auto 0;
    padding: $globals-padding;
    overflow-x: hidden;
    overflow-y: auto;

    @media (min-width: $screen-sm) {
        padding: $globals-padding 30px;
    }

    &__doc {
        &__block {
            &__step {
                position: relative;
                margin: 30px 0;
                padding-bottom: 15px;

                &:after {
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    border-top: 1px solid lighten($globals-color, 60%);
                    width: 33%;
                    content: ' ';
                }

                &:last-child {
                    &:after {
                        border-top: 0;
                    }
                }

                &__cmd {
                    margin: $globals-padding 0;
                    border: 1px solid lighten($globals-color, 50%);
                    border-radius: 2px;
                    background: lighten($globals-color, 70%);
                    padding: 5px 10px;
                }
            }
        }
    }

    &--demo {
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
}
