
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: $header-height+30px auto 0;
    padding: $globals-padding;
    text-align: center;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;

    @media (min-width: $screen-sm) {
        padding: $globals-padding 30px;
    }

    &__tests {
        &__sample1 {
            background-color: red;
            width: 100px;
            height: 100px;
            display: block;
            margin: 100px auto;
        }
    }
}
