
.content {
    z-index: 1;
    margin: $header-height+30px auto 0;
    padding: $globals-padding;
    overflow-x: hidden;
    overflow-y: auto;

    @media (min-width: $screen-sm) {
        padding: $globals-padding 30px;
    }

    &__doc {
        &__step {
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 15px;
            margin-top: 30px;

            &:after {
                content: ' ';
                border-top: 1px solid rgba($globals-color, .2);
                position: absolute;
                bottom: -5px;
                width: 10%;
                left: 0;
            }

            &__cmd {
                border-radius: 2px;
                margin: 5px 0;
                border: 1px solid rgba($globals-color, .2);
                background: rgba($globals-color, .1);
                padding: 5px 10px;
            }
        }
    }

    &--demo {
        margin-top: 100px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
}
