<div class="content">
    <h2>Tool for e2e & visual regression tester</h2>
    <div class="content__doc">
        <h3>Installation</h3>

        <div class="content__doc__step">
            Clone the repo and go in the root folder, then:
            <div class="content__doc__step__cmd">
                npm install
            </div>
        </div>

        <div class="content__doc__step">
            Configure your Browserstack informations: (available here: <a href="https://www.browserstack.com/accounts/settings">https://www.browserstack.com/accounts/settings</a>)
            <div class="content__doc__step__cmd">
                <div>export BROWSERSTACK_USERNAME=YOUR_USERNAME</div>
                <div>export BROWSERSTACK_ACCESS_KEY==YOUR_KEY</div>
            </div>
        </div>

        <div class="content__doc__step">
            And run:
            <div class="content__doc__step__cmd">
                npm run test
            </div>
        </div>

        <div class="content__doc__step">
            If visual diff fails, you'll have to review each screenshot in screenshots/diff & screenshots/current and validate that it's ok. If it's ok, run:
            <div class="content__doc__step__cmd">
                npm run test:validate
            </div>
        </div>

        <h3>Configuration</h3>
        <div class="content__doc__step">
            Change the tested URL: go in the wdio.conf.js and edit the baseUrl property.
        </div>
        <div class="content__doc__step">
            Change the browser list: Go in the wdio.conf.js and edit the capabilities property.
        </div>

        <h3>TODO</h3>
        <div class="content__doc__step">
            PhantomJS
        </div>
        <div class="content__doc__step">
            Multiple links
        </div>
    </div>
</div>
