<div class="content">
    <h2>Tool for e2e & visual regression tester</h2>
    <div class="content__doc">
        <h3>Installation</h3>

        <div class="content__doc__step">
            Clone the repo and go in the root folder, then:
            <div class="content__doc__step__cmd">
                npm install
            </div>
        </div>

        <div class="content__doc__step">
            If you want to use Browsterstack, configure your informations: (available here: <a href="https://www.browserstack.com/accounts/settings">https://www.browserstack.com/accounts/settings</a>)
            <div class="content__doc__step__cmd">
                <div>export BROWSERSTACK_USERNAME=YOUR_USERNAME</div>
                <div>export BROWSERSTACK_ACCESS_KEY=YOUR_KEY</div>
            </div>
            Or use PhantomJS with a standalone Selenium server (available here: <a href="http://selenium-release.storage.googleapis.com/index.html">http://selenium-release.storage.googleapis.com/index.html</a>)
            <div class="content__doc__step__cmd">
                <div>java -jar selenium-server-standalone-X.XX.X.jar</div>
                <div>export HEADLESS_PHANTOM=true</div>
            </div>
        </div>

        <div class="content__doc__step">
            And run:
            <div class="content__doc__step__cmd">
                npm run test
            </div>
        </div>

        <div class="content__doc__step">
            If visual diff fails, you'll have to review each screenshot in screenshots/diff & screenshots/current and validate that it's ok. If it's ok, run:
            <div class="content__doc__step__cmd">
                npm run test:validate
            </div>
        </div>

        <h3>Configuration</h3>
        <div class="content__doc__step">
            Change the tested URL: go in the wdio.conf.js and edit the baseUrl property.
        </div>
        <div class="content__doc__step">
            Change the browser list: Go in the wdio.conf.js and edit the capabilities property.
        </div>

        <h3>Tests done</h3>
        <div class="content__doc__step">
            <h4>Technical</h4>
            <ul>
                <li>title & description not empty</li>
                <li>Only one &lt;h1&gt;</li>
                <li>No heading is hidden</li>
                <li>No break in the heading hierarchy</li>
                <li>No W3C error</li>
            </ul>
        </div>
        <div class="content__doc__step">
            <h4>Visual regressions</h4>
            <ul>
                <li>No visual diff with the previous validated screenshot</li>
            </ul>
        </div>

        <h3>TODO</h3>
        <div class="content__doc__step">
            Multiple links
        </div>
        <div class="content__doc__step">
            Test empty title
        </div>
        <div class="content__doc__step">
            A11Y
        </div>
        <div class="content__doc__step">
            Microdata
        </div>
    </div>
</div>
