
//------------------------------------------------------------------
// GLOBALS
//-------------------------------------------------------------------

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    text-rendering: geometricPrecision;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
}

[hidden] {
    // sass-lint:disable no-important
    display: none !important; // Overwrite default browser comportment
    // scss-lint:enable no-important
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    background: $globals-bg;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-size: $globals-font-size;
    font-weight: 200;

    &__pages {
        flex: 1;
        -webkit-overflow-scrolling: touch;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $globals-color;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    border-bottom: 1px solid lighten($globals-color, 30%);
    padding: 0 0 $globals-padding;
    font-size: 1.7rem;
}

h3 {
    font-size: 1.1rem;
}

input,
textarea,
keygen,
select,
button {
    font-family: 'Lato', sans-serif;
    font-size: $globals-font-size;
}

ul {
    margin-left: 0;
    padding-left: 5px;
    list-style-position: inside;
}
