
//------------------------------------------------------------------
// MIXINS
//-------------------------------------------------------------------

@mixin clear {
    &:after {
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        font-size: 0;
        content: ' ';
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin title {
    text-align: center;
}

@mixin header-btn {
    position: relative;
    transition: $header-transition;
    opacity: .5;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-indent: -30000px;
    will-change: opacity;

    &:before {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        transition: $header-transition;
        opacity: 0;
        margin: auto;
        border-radius: 50%;
        background: $globals-transparency;
        padding: 4px;
        content: ' ';
        will-change: opacity;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        opacity: 1;
    }

    &:focus {
        &:before {
            opacity: 1;
        }
    }
}
