
//------------------------------------------------------------------
// VARIABLES
//-------------------------------------------------------------------

$white: #fff;
$black: #000;
$globals-red: #ff6384;
$globals-blue: #36a2eb;
$globals-yellow: #ffce56;
$globals-green: #44d279;
$globals-color: #273547; //#2f3ba2; //201929 //3a3248
$globals-link-color: darken($globals-red, 25%);
$globals-link-hover-color: darken($globals-red, 50%);

$globals-bg: #fff;
$globals-transparency: rgba($black, .22);
$globals-padding-large: 30px;
$globals-font-size: 13px;
$globals-padding: 15px;
$globals-padding-small: 8px;
$globals-transition: all .233s cubic-bezier(0, 0, .21, 1) .1s;
$globals-border: 1px solid rgba($black, .14);

// MEDIAS
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// HEADER
$header-height: 60px;
$header-bg: $globals-color;
$header-color: $white;
$header-zindex: 10;
$header-transition: opacity .333s cubic-bezier(0, 0, .21, 1);
$header-shadow: none;
